*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    background-color: #44CCFF;
    color: #494947;
    height: 5rem;
    line-height: 5rem;
    margin-bottom: 2rem;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.images {
    height: 10rem;
    border-radius: 50%;
}

.images:hover {
    opacity: 50%;
}

.score-board {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

#result {
    margin-top: 4rem;
    background-color:#44CCFF;
    color: #494947;
    font-size: 2rem;
    display: inline-block;
    padding: 1.5rem;
    border-radius: 1rem;
}
